<html lang="en">
<head>
  <meta charset="utf-8">
  <!-- Google Font -->
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:600italic' rel='stylesheet' type='text/css'>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- J Query -->
  <style media="screen">
    body{
       font-family: "Open Sans", sans-serif;
     }
     .header-container{
       font-family: "Open Sans";
     }
  </style>
  <title>Reddit Application</title>
</head>
<body>
  <div class="container">
    <div class="row header-container">
      <h1>Reddit API Caller</h1>
    </div>
    <div class="container">
      <h2>/r/dankmemes :</h2>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success">First Item</li>
        <li class="list-group-item list-group-item-info">Second Item</li>
        <li class="list-group-item list-group-item-warning">Third Item</li>
      </ul>
    </div>
  </div>
</body>
</html>
